* {
	padding-left: 0%;
	box-sizing: border-box;
	margin: 0%;
	font-family: "Inter", sans-serif;
}

img {
	width: 100%;
	height: 100%;
}

.head {
	width: 100%;
	padding: 10px;
	background-color: navy;
	color: white;
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: space-between;
	align-items: center;
}

.H-ad {
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
}

.icons {
	display: flex;
	gap: 32px;
}

.navbar {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	color: whitesmoke;
	background-color: navy;
	font-size: bold;
}

.logo h1 {
	font-size: 32px;
}

.menu {
	display: flex;
	list-style-type: none;
	gap: 32px;
	font-size: 24px;
}

.menu a {
	color: white;
	text-decoration: none;
	transition: 0.3s;
}

.menu a:hover {
	color: blue;
	border-bottom: 1px solid white;
}

.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.hero-content {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
	color: black;
	max-width: 600px;
}

.hero-content h2 {
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 16px;
}

.hero-content p {
	font-size: 18px;
	margin-bottom: 24px;
}

.h-button {
	display: inline-block;
	padding: 12px 24px;
	background-color: navy;
	font-weight: 600;
	border-radius: 8px;
	transition: 0.1s ease;
}

.h-button:hover {
	background-color: blue;
	transform: scale(1.02);
}

.h-button a {
	text-decoration: none;
	color: white;
}

.feature {
	padding: 50px;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info h3 {
	font-size: 42px;
	font-weight: bold;
	margin: none;
}

.info a {
	display: flex;
	text-decoration: none;
	font-weight: 600;
	transition: 0.1s ease;
	color: black;
	font-size: 24px;
}
.info a:hover {
	color: blue;
	border-bottom: 1px solid blue;
}

.Fimageee {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	gap: 16px;
	align-items: center;
}

.Fimage1 img {
	width: 350px;
	height: 350px;
	border-radius: 10px;
}

.Fimage2 img {
	width: 350px;
	height: 350px;
	border-radius: 10px;
}

.Fimage3 img {
	width: 350px;
	height: 350px;
	border-radius: 10px;
}

.Fimage4 img {
	width: 350px;
	height: 350px;
	border-radius: 10px;
}

.Fimageee h4 {
	font-size: 24px;
	font-weight: bold;
}

.Fimageee p {
	font-size: 16px;
	font-weight: 500;
}

.cards {
	padding: 50px;
	gap: 16px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
}

.card1 {
	background-image: url("assetss/streetr wear card.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 850px;
	height: 100vh;
	padding: 20px;
	position: relative;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;
}

.img-text1 {
	padding: 10px;
	text-decoration: none;
	transition: 0.3s;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
}
.img-text1:hover {
	transform: scale(1.02);
}
.img-text1 h1 {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.img-text1 p {
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.right {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.card2 {
	background-image: url("assetss/shoes\ card.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 550px;
	height: 50vh;
	padding: 20px;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;
}

.img-text2 {
	padding: 10px;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	transition: 0.3s;
}
.img-text2:hover {
	transform: scale(1.02);
}
.img-text2 h1 {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.img-text2 p {
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.card3 {
	background-image: url("assetss/hat\ acard.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 550px;
	height: 50vh;
	padding: 20px;
	border-radius: 10px;
	color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;
}

.img-text3 {
	padding: 10px;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	transition: 0.3s;
}
.img-text3:hover {
	transform: scale(1.02);
}
.img-text3 h1 {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.img-text3 p {
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.email {
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 50px;
	gap: 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	font-family: "Inter", sans-serif;
	color: black;
}

.email h5 {
	font-size: 42px;
	font-weight: bold;
}
.email p {
	font-size: 16px;
	font-weight: 500;
}

.id {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 32px;
}

.enter-id {
	display: flex;
}

.enter-id input[type="email"] {
	font-size: 24px;
	font-weight: light;
	color: rgba(0, 0, 128, 0.5);
	padding: 16px 200px 16px 16px;
	border: 2px solid navy;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.enter-id button {
	font-size: 24px;
	font-weight: light;
	border: none;
	background-color: navy;
	color: white;
	padding: 16px 50px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	transition: 0.3s;
}

.enter-id button:hover {
	background-color: blue;
	transform: scale(1.02);
}

.best-product {
	padding: 50px;
	color: black;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.B-content h1 {
	font-size: 42px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
}

.B-images {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 24px;
}

.B-image {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: right;
	gap: 8px;
}

.B-image img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	display: block;
	max-height: 500px;
}

.B-images h3 {
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin: 0;
}

.P-buttons {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.P-buttons button {
	font-size: 16px;
	font-weight: light;
	border: none;
	background-color: navy;
	color: white;
	padding: 16px 50px;
	border-radius: 10px;
	transition: 0.3s;
}

.P-buttons button:hover {
	background-color: blue;
	transform: scale(1.02);
}

.flash {
	padding: 50px;
	color: black;
	font-family: "Inter", sans-serif;
}

.F-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.F-info h3 {
	font-size: 42px;
	font-weight: bold;
	margin: 0;
}

.F-info a {
	text-decoration: none;
	font-size: 24px;
	color: black;
	transition: 0.3s;
}

.F-info a:hover {
	color: blue;
	transform: scale(1.02);
	border-bottom: 1px solid blue;
}

.Fimages {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 24px;
	margin-top: 20px;
}

.Fimage {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	border-radius: 8px;
	gap: 4px;
}
.Fimage img {
	width: 100%;
	border-radius: 6px;
	object-fit: cover;
}

.Fimage h4,
.Fimage p {
	margin: 0;
	color: black;
	transition: 0.3s;
}
.Fimage h4:hover {
	color: blue;
	transform: scale(1.02);
}

.section {
	margin: 50px;
	padding: 50px;
	background-image: url(assetss/summwe\ cardjpg.jpg);
	background-size: cover;
	background-position: center 10%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: 100vh;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;
}

.S-text {
	padding: 10px;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	transition: 0.3s;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
}
.S-text:hover {
	transform: scale(1.02);
}
.S-text h1 {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.S-text p {
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.articles {
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	color: black;
	font-family: "Inter", sans-serif;
}

.A-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}
.A-art-image {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 24px;
}

.article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}

.article img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 8px;
	transition: 0.3s;
}

.article img:hover {
	transform: scale(1.02);
}

.article h3 {
	font-size: 24px;
	margin: 0;
	font-weight: bold;
}

.article p {
	font-size: 16px;
	margin: 0;
	font-weight: 500;
}

.company {
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.insta {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.insta-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	margin-bottom: 12px;
}

.insta-text h1 {
	font-size: 42px;
	font-weight: bold;
	margin: 0;
}

.insta-text p {
	font-size: 24px;
	font-weight: 500;
	margin: 0;
}

.insta-image {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 24px;
}

.insta-image img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	display: block;
}
